<h2>Adressen</h2>

{{#if pageData}}
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Straße</th>
				<th>Postleitzahl</th>
        <th>Hausnummer</th>
				<th>Stadt</th>
      </tr>
    </thead>
    <tbody id="estateTable">
{{#each pageData}}
      <tr>
        <td>{{id}}</td>
        <td>{{strasse}}</td>
        <td>{{hausnr}}</td>
				<td>{{plz}}</td>
        <td>{{stadt}}</td>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <p>Keine Daten in der Datenbank</p>
{{/if}}
