<h2>Immobiliendetails</h2>

<h3>Adressinformationen</h3>

<div id="adress">
	<p>
		<label for="">Straße</label><br>
		<input type="text" name="strasse" value="{{pageData.immoAdress.strasse}}" readonly>
	</p>
	<p>
		<label for="">Hausnummer</label><br>
		<input type="text" name="hausnr" value="{{pageData.immoAdress.hausnr}}" readonly>
	</p>
	<p>
		<label for="">Postleitzahl</label><br>
		<input type="text" name="plz" value="{{pageData.immoAdress.plz}}" readonly>
	</p>
	<p>
		<label for="">Stadt</label><br>
		<input type="text" name="stadt" value="{{pageData.immoAdress.stadt}}" readonly>
	</p>
</div>

<h3>Eigentümerinformationen</h3>

<div id="eigentuemer">
	<p>
		<label for="">Vorname</label><br>
		<input type="text" name="vorname" value="{{pageData.eigentuemer.vorname}}" readonly>
	</p>
	<p>
		<label for="">Nachname</label><br>
		<input type="text" name="nachname" value="{{pageData.eigentuemer.nachname}}" readonly>
	</p>
	<p>
		<label for="">Geburtsdatum</label><br>
		<input type="text" name="geb_datum" value="{{pageData.eigentuemer.geb_datum}}" readonly>
	</p>
	<p>
		<label for="">Geburtsort</label><br>
		<input type="text" name="geb_ort" value="{{pageData.eigentuemer.geb_ort}}" readonly>
	</p>
</div>

<h4>Eigentümeradresse</h4>

<div id="eigentuemer_adress">
	<p>
		<label for="">Straße</label><br>
		<input type="text" name="strasse" value="{{pageData.eigentuemerAdresse.strasse}}" readonly>
	</p>
	<p>
		<label for="">Hausnummer</label><br>
		<input type="text" name="hausnr" value="{{pageData.eigentuemerAdresse.hausnr}}" readonly>
	</p>
	<p>
		<label for="">Postleitzahl</label><br>
		<input type="text" name="plz" value="{{pageData.eigentuemerAdresse.plz}}" readonly>
	</p>
	<p>
		<label for="">Stadt</label><br>
		<input type="text" name="stadt" value="{{pageData.eigentuemerAdresse.stadt}}" readonly>
	</p>
</div>

<h3>Immobiliendetails</h3>

<p>
	<label for="wohnungsanzahl">Wohnungsanzahl</label><br>
	<input type="text" id="wohnungsanzahl" name="wohnungsanzahl" value="{{pageData.immoDetails.wohnungsanzahl}}" readonly>
</p>
