<h2>Immobilie hinzufügen</h2>

<form action="/immobilien/add" method="post">

  <h3>Adressinformationen</h3>

  <p>
    <label for="adress_id">Adressauswahl</label><br>
    <select name="adress_id" id="address_id">
      <option value="-1">Neue Adresse</option>
      {{#if pageData.adressData}}
      {{#each pageData.adressData}}
      <option value="{{id}}">{{strasse}} {{hausnr}}, {{plz}} {{stadt}}</option>
      {{/each}}
      {{/if}}
    </select>
  </p>

  <div id="newAdress">
    <p>
      <label for="">Straße</label><br>
      <input type="text" name="strasse" value="">
    </p>
    <p>
      <label for="">Hausnummer</label><br>
      <input type="text" name="hausnr" value="">
    </p>
    <p>
      <label for="">Postleitzahl</label><br>
      <input type="text" name="plz" value="">
    </p>
    <p>
      <label for="">Stadt</label><br>
      <input type="text" name="stadt" value="">
    </p>
  </div>

  <h3>Eigentümerinformationen</h3>

  <p>
    <label for="eigentuemer_id">Eigentümerauswahl</label><br>
    <select name="eigentuemer_id" id="eigentuemer_id">
      <option value="-1">Neuer Eigentümer</option>
      {{#if pageData.eigentuemerData}}
      {{#each pageData.eigentuemerData}}
      <option value="{{id}}">{{vorname}} {{nachname}}, {{geb_ort}}</option>
      {{/each}}
      {{/if}}
    </select>
  </p>

  <div id="newEigentuemer">
    <p>
      <label for="">Vorname</label><br>
      <input type="text" name="vorname" value="">
    </p>
    <p>
      <label for="">Nachname</label><br>
      <input type="text" name="nachname" value="">
    </p>
    <p>
      <label for="">Geburtsdatum</label><br>
      <input type="text" name="geb_datum" value="">
    </p>
    <p>
      <label for="">Geburtsort</label><br>
      <input type="text" name="geb_ort" value="">
    </p>
  </div>

  <h3>Immobiliendetails</h3>

  <p>
    <label for="wohnungsanzahl">Wohnungsanzahl</label><br>
    <input type="text" id="wohnungsanzahl" name="wohnungsanzahl" value="1">
  </p>

  <p>
    <input type="submit" value="Immobilie hinzufügen">
  </p>
</form>

<script src="/scripts/immobilienAdd.js" type="text/javascript"></script>
