<h2>Personen</h2>

{{#if pageData}}
<div class="wide">
  <table>
    <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
				<th>Geburtsdatum</th>
        <th>Geburtsort</th>
				<th>Straße</th>
				<th>Hausnummer</th>
				<th>Postleitzahl</th>
				<th>Stadt</th>
      </tr>
    </thead>
    <tbody>
{{#each pageData}}
      <tr>
        <td>{{vorname}}</td>
        <td>{{nachname}}</td>
        <td>{{geb_datum}}</td>
				<td>{{geb_ort}}</td>
        <td>{{strasse}}</td>
				<td>{{hausnr}}</td>
				<td>{{plz}}</td>
				<td>{{stadt}}</td>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <p>Keine Daten in der Datenbank</p>
{{/if}}
